<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40670581765-jmjv1231p0flj75kbj6gt031hbal960e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40670581765-jmjv1231p0flj75kbj6gt031hbal960e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40670581765-mb93imc1ukdjdd7hu28v1k3ngb7e213g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIYDO7TY0MIiScoOJlP7aheR7Gkj_L10w</string>
	<key>GCM_SENDER_ID</key>
	<string>40670581765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackBud</string>
	<key>PROJECT_ID</key>
	<string>trackbud-43f8a</string>
	<key>STORAGE_BUCKET</key>
	<string>trackbud-43f8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40670581765:ios:7a8260df1007ee95f1f86c</string>
</dict>
</plist>